{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h2>Register</h2>
{% endblock header%}

{% block content %}

<div class="container py-5">
  <h1>Register</h1>
    <form method="POST" action="{% url 'users:register' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form  %}

      {% buttons %}
      <button class="btn btn-primary" type="Submit">Register</button>
      {% endbuttons %}
      <input name="next" type="hidden" value="{% url 'index' %}"/>
    </form>  
      <p class="text-center">If you have already have account,<a href="users/login.html">login</a></p>
</div>
{% endblock content %}